.praFoto {
    background-size: cover;
    background-position: center;

    height: 95vh;
    width: 100%;

    border-radius: 50px 50px 0 0;
    margin-top: -10px;
    position: sticky;
    top: 0;
    z-index: 2;
}