.FAQ_container {
    width: 100%;
    border-radius: 20px;
    transition: box-shadow 0.3s ease;
}

.FAQ_container:hover {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.28);
    overflow: hidden;
}

.sumario {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.titulo_FAQ {
    font-size: 2.1rem;
}

.descricao {
    width: 100%;
    background-color: #DEE2E4;
    padding: 30px;

}