.MainText {
    color: #3D2D33;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 80px 70px 0 50px;
}

.title {
    border-radius: 50px 50px;
    border: 3px solid #3D2D33;

    display: inline-block;
    width: 18%;
    height: 100%;

    padding: 1px 5px;
    margin-bottom: 10px;
}

.title p {
    font-weight: 600;
    text-align: center;
    font-size: 1.953rem;
}

.sentence {
    width: 600px;
    height: auto;

}

.sentence p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
}
