.SectionTwo {
    background-color: #FFE500;
    width: 100%;
    height: auto;

    margin-top: -35px;
    border-radius: 50px 50px 0 0;

    position: relative;
    z-index: 3;

    padding-bottom: 150px;
}