@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.header {
    position: relative;
    z-index: 10;

    width: 100%;
    height: 61vh;
    background-color: transparent;

    padding: 0 4.5rem 1.7rem;

    display: flex;
    align-items: end;
    justify-content: space-between;
}

.container_texto {
    color: #3D2D33;
}

.texto {
    margin: 0;

    font-family: "Comfortaa", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.logoSVG {
    width: 100%;
    max-width: 250px;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
}